@font-face {
  font-family: 'Quarz 974';
  src: url('/assets/fonts/quarz974/Quarz 974 Light.woff') format('woff');
}

html,
body {
  margin: 0;
  font-family: Avenir;
  color: gray;
}

h1,
h2,
h3,
h4,
h5 {
  color: #3a3042;
  font-weight: normal;
  margin: 10px 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  margin: 0;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  padding: 0.6em 1.5em;
  font-size: 1em;
}

input {
  font-family: inherit;
}
